/* auth */
.auth {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ccc {
    radius: 6px;
  }

  &__title {
    margin: 0;
    font: {
      weight: normal;
      size: 20px;
    }
    line-height: 24px;
  }
  &__content {
    font-size: 12px;
    line-height: 18px;
  }
  &__row {
    margin-top: 15px;
  }
  &__field {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #000 {
      radius: 6px;
    }
    background-color: #fff;
    box-sizing: border-box;
  }
  &__footer {
    padding: 15px 0 10px;
    border-top: 1px solid #ccc;
  }
}
